:root {
    --bg: wheat;
    --primary: #1b2c1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 3000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 7%;
    align-items: center;
    background-color: #fff;
}

.navbar h2 {
    font-size: 2rem;
    color: rgb(52, 52, 190);
}

.navbar-nav {
    justify-content: center;
    display: flex;
    margin-left: 25rem;
}

.navbar-nav a {
    font-size: 1.2rem;
    margin: 1rem;
    color: #1b2c1b;
}   

.navbar-nav a:hover {
    color: rgb(177, 177, 18);
    transition: 0.5s;
}

.extra a {
    color: #1b2c1b;
    margin-right: 2.5rem;
}   

#menu {
    display: none;
}


.education {
    display: flow-root;
    justify-content: center;
    align-items: center;
    background-image: url(img/education.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

.education p {
    font-size: 1.5rem;
    color: gold;
    text-align: center;
    margin-top: 15rem;
}

.education h2 {
    font-size: 2rem;
    color: #010101;
    text-align: center;
    margin-top: 1rem;
}

.more {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 1.5rem;
   
}

.more a {
    padding: 1rem 3%;
    background-color: rgb(52, 52, 190);
    color: gold;
    border-radius: 8%;  
    margin: 1rem;
}

#see {
    background-color: gold;
    color: rgb(52, 52, 190);
}

.more a:hover {
    background-color: transparent;
    border: 1px solid rgb(52, 52, 190);
    color: #010101;
    transition: 0.7s;
}

#see:hover {
    background-color: rgb(52, 52, 190);
    color: gold;
    transition: 0.7s;
}

/* about */

.about {
    padding: 6rem 7% 1.4rem;
}

.about h2 {
    color: #010101;
    font-size: 2rem;
    text-align: center;
}

.about h2 span {
    color: rgb(221, 190, 14);
}

.profil {
    display: flex;
    justify-content: center;
}

.profil h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
    margin-left: 2rem;
    color: #010101;
}

.profil p {
    text-align: justify;
    margin: 2rem;
    color: rgb(134, 115, 6);
}

#misi-p {
    margin-top: 7rem;
}

/* Jurusan */

.jurusan {
    padding: 6rem 7% 1.4rem;
}

.jurusan h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #010101;
}

.jrn {
    display: flex;
    justify-content: center;
}

.jrn a img {
    width: 300px;
    height: 200px;
    margin: 1rem;
}

.jrn a p {
    font-size: 1rem;
    color: #010101;
    text-align: center;
}

/* queris */

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 61.2%;
    }

    #menu {
        display: inline-block;
    }
    
    .navbar-nav {
        position: absolute;
        right: 100%;
        top: 100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .education {
        font-size: 50%;
    }

    .more {
        display: flex;
        position: fixed;
        
        width: 50rem;
        justify-content: center;
    }

    .more a {
        margin: 1rem;
    } 
}